# SPDX-FileCopyrightText: 2026 Blagovest Petrov <blagovest@petrovs.info>
# SPDX-FileCopyrightText: 2026 Vute Tech Ltd. <https://vute.tech>
# SPDX-License-Identifier: GPL-3.0-or-later
#
# D-Bus activation for the KRunner plugin service.
[D-BUS Service]
Name=dev.l10n_bg.dragomand.KRunner1
Exec=/usr/lib/dragomand/dragoman-krunner
